.container{
    display: flex;
    margin: 0px;
}

.container-fluid {
  text-align: center;
  background-color: blue;
}

.navbar-brand {
  padding-left: 25%;
  font-size: 100px;
}
.search-for-city {
  font-size: 25px;
}


.fiveday-container .card {
  width: 250px !important;
  height: 300px !important;
}

.fiveday-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}

#searchBtn {
  color: orange;
  background-color: black;
}