.container{
    display: flex;
    margin: 0px;
}




.fiveday-container .card {
  width: 250px !important;
  height: 300px !important;
}

.fiveday-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}
